<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>学生注册</title>
		<link href="https://cdn.bootcss.com/font-awesome/5.8.0/css/all.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/public/static/css/register.css"/>
		<link href="/public/favicon.ico" rel="icon" type="image/x-icon" />
		<script type="text/javascript" src="/public/static/js/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="image middle">
			<img src="/public/static/images/bg2.jpg" alt="" />
			<div class="image-content">
				<h1>学生注册</h1>
				<form method="post" id="login">
					<input type="text" placeholder="学号" class="txtb" name="num"/>
					<input type="text" placeholder="姓名" class="txtb" name="name"/>
					<input type="text" placeholder="邮箱" class="txtb" name="email"/>
					<input type="password" placeholder="密码" class="txtb" name="password"/>
					<select class="txtb select" name="class">
						<option value="">选择班级</option>
						<option value="volvo">16计算机一班</option>
						<option value="saab">16计算机二班</option>
						<option value="opel">17计算机一班</option>
						<option value="audi">16工商管理一班</option>
						<option value="volvo">16动物医学一班</option>
						<option value="saab">18动物科学二班</option>
						<option value="opel">17植物生产一班</option>
						<option value="audi">16化学一班</option>
					</select>
					<!--<input type="submit" value="register" class="signup-btn"/>-->
					<button type="button" class="signup-btn txtb" id="register">register</button>
				</form>
			</div>
		</div>
	</body>
</html>


<script>
	$(function () {
		$("#register").on('click',function () {
			$.ajax({
				type: 'post',
				url:"{:url('user/insert')}",
				data:$('#login').serialize(),
				dataType:'json',
				success:function (data) {
					switch (data.success) {
						case 1:
							alert(data.message);
							window.location.href = "{:url('index/index')}";
							break;
						case 0:
						case -1:
							alert(data.message);
							window.location.back;
					}
				},
				error:function () {
					alert('error');
				}
			})
		})
	});
</script>